@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

@font-face {
    font-family: 'clock';
    src: url('../../fonts/alarm-clock.ttf') format('truetype');
}

:root {
    /*--cor-fundo: #093959;*/
    --cor-fundo: #000000;
    --cor-branca: white;
    --cor-menu: #1B262C;

    --font-mine: 'Silkscreen', cursive;
    --font-opensans: 'Open Sans', sans-serif;
    --font-langar: 'Langar', cursive;
    --font-clock: 'clock', cursive;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-branca);
}

.container {
    /*padding-right: 6%;
    padding-left: 0%;*/

}

.ocultar{
    display: none;
}




/*PC*/
@media screen and (min-width: 1024px) {}