.container-principal{
    border: solid 1px red;
    /*height: calc(100vh - 2px);*/
    /*height: 100vh;*/
    
}

.start{
    background: green;
    color: white;
}

.stop{
    background: red;
    color: white;
    
}

.next{
    background: yellow;
    
}

