
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    border: solid white 1px;
    width: 600px;
    height: 270px;

    margin-top: 5rem;
}



/*.modal__navegacao ul {
    background: blue;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}*/

.modal__container-links{
    display: flex;
    flex-direction: row;
    border: solid 1px red;
    width: 500px;
    margin: 0;
    justify-content: space-between;
    
    
    
    

}

.modal__container-links {
    
}

.modal__link {
    list-style: none;
    /*text-align: center;*/
    /*padding-right: 100px;*/
    
    /*display: inline-block;*/
    font-size: 1.4rem;
    font-family: var(--font-opensans);
    font-family: var(--font-langar);
    font-weight: 400;
}

.modal__pomodo{
    margin-top: 3rem;
}

.modal__cronometro{
   
}

.modal__cronometro--minuto{
    font-size: 7rem;
    font-family: var(--font-langar);
}

.modal__cronometro--divisor{
    font-size: 7rem;
    font-family: var(--font-langar);
}
.modal__cronometro--segundo{
    font-size: 7rem;
    font-family: var(--font-langar);
}

.modal__controles{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: solid 1px red;
}


.modal__controles--start{
	all: unset;
    text-transform: uppercase;
    font-family: var(--font-langar);
    padding: 10px 50px;
    background: green;
	cursor: pointer;
	
    display: block;
    font-size: 1.5rem;

    /*width: 50px;*/
    text-align: center;
    
}

.modal__controles--stop{
	all: unset;
    text-transform: uppercase;
    font-family: var(--font-langar);
    padding: 10px 50px;
    background: red;
	cursor: pointer;
    font-size: 1.5rem;

    display: block;

    /*width: 50px;*/
    text-align: center;
}