


.modal {
    /*background: rgba(255, 255, 255, 0.028);*/
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    border: solid white 2px;
    width: 650px;
    height: 500px;

    margin-top: 3rem;
    /*background: #ffffff29;*/
}

/*
.modal__borda--tema-vermlho {
    background: #ff000016;
    border: solid red 2px;
    transition: 1.5s all;
}*/



.modal__borda--tema-azul {
    background: #00ffff1e;
    border: solid #00ffff 2px;
    transition: 1.5s all;
}

.modal__borda-tema-padrao {
    border: solid #ffffff 2px;
}

.modal__principal--semBackground {
    background: none;
}



/*.modal__navegacao ul {
    background: blue;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}*/

.modal__container-links {
    display: flex;
    flex-direction: row;
    border: solid 1px red;
    width: 600px;
    margin: 0;
    justify-content: space-between;

}

.modal__container-links {}

.modal__link {
    list-style: none;
    /*text-align: center;*/
    /*padding-right: 100px;*/

    /*display: inline-block;*/
    font-size: 1.5rem;
    font-family: var(--font-opensans);
    /*font-family: var(--font-langar);*/
    font-weight: 400;
    cursor: pointer;
}


.aplicarBoldFont {
    font-weight: bold;
}


.modal__pomodo,
.modal__descanso-curto {
    border: solid 1px pink;
    margin-top: 3rem;
}

.modal__cronometro {}

.modal__cronometro--minuto {
    font-size: 10rem;
    font-family: var(--font-clock);
    color: white;
}

.modal__cronometro--minuto-vermelho {
    color: red;
    transition: 1s all;
}

.modal__borda--tema-vermlho {
    background: #ff000016;
    border: solid red 2px;
    transition: 1.5s all;
}



.modal__cronometro--minuto-azul {
    color: #00ffff;
    transition: 1s all;
}


.modal__cronometro--divisor {
    font-size: 10rem;
    font-family: var(--font-clock);
}

.modal__cronometro--segundo {
    font-size: 10rem;
    font-family: var(--font-clock);
}

.modal__controles {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: solid 1px red;
}


.modal__controles--start {
    all: unset;
    text-transform: uppercase;
    font-family: var(--font-langar);
    padding: 10px 50px;
    background: green;
    cursor: pointer;

    display: block;
    font-size: 1.5rem;

    /*width: 50px;*/
    text-align: center;

}

.modal__controles--stop {
    all: unset;
    text-transform: uppercase;
    font-family: var(--font-langar);
    padding: 10px 50px;
    background: red;
    cursor: pointer;
    font-size: 1.5rem;

    display: block;

    /*width: 50px;*/
    text-align: center;
}



/*javscript*/

.modal__borda--tema-branco {
    background: none;
    border: solid white 2px;
    transition: 1.5s all;
}

.modal__cronometro--minuto-branco {
    color: white;
    transition: 1s all;
}